.second-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 37px;
}

@media screen and (min-width: 1024px) {
  .second-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.second-section__circle-bg {
  display: none;
}

@media screen and (min-width: 1440px) {
  .second-section__circle-bg {
    display: flex;
    position: absolute;
    top: -464px;
    left: -228px;
    z-index: -1;
  }
}

.second-section__triangle {
  width: 65px;
}

@media screen and (min-width: 1440px) {
  .second-section__triangle {
    width: 105px;
    position: relative;
    top: -50px;
    left: 131px;
  }
}

.second-section__title {
  font-family: Graphik-Bold, serif;
  font-size: 36px;
  line-height: 54px;
}

@media screen and (min-width: 1440px) {
  .second-section__title {
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    width: 695px;
  }
}

.second-section__add {
  width: 28px;
  position: relative;
  bottom: 0;
  margin: auto 0 auto auto;
}

@media screen and (min-width: 1024px) {
  .second-section__add {
    transform: rotate(-31.418deg);
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .second-section__add {
    width: 42px;
    position: relative;
    bottom: -50px;
  }
}
