* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-19191B);
  color: var(--color-FFFFFF);
  font-family: NunitoSans-Regular, serif;
}

.app-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 24px;
}

@media screen and (min-width: 1440px) {
  .app-center {
    /*margin: 0;*/
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .app-container {
    width: 1440px;
  }
}
