:root {
  --color-19191B: #19191b;
  --color-FFFFFF: #ffffff;
  --color-5454D4: #5454d4;
  --color-FFFFFFB2: #ffffffb2;
  --color-5454D41A: #5454d41a;
  --color-F040371A: #f040371a;
  --color-FEDC5A1A: #fedc5a1a;
  --color-1E1E20: #1e1e20;
  --color-FFFFFF33: #ffffff33;
  --color-121213: #121213;
}
