:root {
  --color-19191B: #19191b;
  --color-FFFFFF: #ffffff;
  --color-5454D4: #5454d4;
  --color-FFFFFFB2: #ffffffb2;
  --color-5454D41A: #5454d41a;
  --color-F040371A: #f040371a;
  --color-FEDC5A1A: #fedc5a1a;
  --color-1E1E20: #1e1e20;
  --color-FFFFFF33: #ffffff33;
  --color-121213: #121213;
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url('./assets/fonts/GraphikRegular.otf');
}

@font-face {
  font-family: 'Graphik-Bold';
  src: url('./assets/fonts/GraphikBold.otf');
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url('./assets/fonts/NunitoSans_7pt-Regular.ttf');
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url('./assets/fonts/NunitoSans_7pt-Bold.ttf');
}

@font-face {
  font-family: 'NunitoSans-SemiBold';
  src: url('./assets/fonts/NunitoSans_7pt_SemiCondensed-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-19191B);
  color: var(--color-FFFFFF);
  font-family: NunitoSans-Regular, serif;
}

button {
  all: unset;
}

.app-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 24px;
}

@media screen and (min-width: 1440px) {
  .app-center {
    /*margin: 0;*/
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

@media screen and (min-width: 1440px) {
  .app-container {
    width: 1440px;
  }
}

.bg {
  z-index: -1;
  overflow: hidden;
  width: 94vw;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 1440px) {
  .bg {
    display: none;
  }
}

.bg__img {
  position: relative;
  width: 630px;
  height: 667px;
  left: -156px;
  top: -125px;
}

.desktop-bg {
  display: none;
}

@media screen and (min-width: 1440px) {
  .desktop-bg {
    display: flex;
    z-index: -1;
    overflow: hidden;
    width: 97vw;
    position: absolute;
    top: 0;
  }
}

.desktop-bg__img {
  position: relative;
  width: 1275px;
  height: 1084px;
  left: -514px;
  right: 0;
  top: -255px;
  bottom: 0;
  margin: auto;
}

.btn-primary {
  background: var(--color-5454D4);
  padding: 12px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-FFFFFF);
  font-size: 16px;
  font-family: NunitoSans-Bold, serif;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .btn-primary {
    font-size: 20px;
    padding: 16px 27px;
  }
}

.btn-primary__icon {
  margin-left: 8px;
}

.btn-secondary {
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-FFFFFF);
  padding: 12px 21px;
  font-size: 16px;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 66px;
  align-items: center;
}

.nav__logo {
  width: 115px;
  height: 34px;
}

@media screen and (min-width: 1440px) {
  .nav__logo {
    width: 132px;
    height: 40px;
  }
}

.desktop-nav-menu {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop-nav-menu {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}

.desktop-nav-menu__item {
  all: unset;
  color: var(--color-FFFFFFB2);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 20px;
  cursor: pointer;
}

.desktop-nav-menu__item--active {
  font-family: NunitoSans-SemiBold, serif;
  color: var(--color-5454D4);
}

.nav__contact {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .nav__contact {
    display: flex;
  }
}

.nav__menu-icon {
}

@media screen and (min-width: 1024px) {
  .nav__menu-icon {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    margin-bottom: 151px;
  }
}

.header-information {
  position: relative;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .header-information {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .header-information {
    width: 582px;
  }
}

.header-information__title {
  font-family: Graphik-Bold, serif;
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .header-information__title {
    font-size: 80px;
    line-height: 84px;
    margin-bottom: 24px;
  }
}

.header-information__description {
  color: var(--color-FFFFFFB2);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .header-information__description {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;
  }
}

.header-person {
  position: relative;
}

.header-person-bg {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  width: calc(100% + 48px);
  top: -102px;
  left: -24px;
}

.header-person-bg__img {
  /*position: relative;*/
  width: 607px;
  height: 609px;
  /*left: 0;*/
  /*top: 0;*/
}

.header-person-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-person-box__img {
  width: 381px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .header-person-box__img {
    max-width: initial;
  }
}

@media screen and (min-width: 1024px) {
  .header-person-box__img {
    width: 555px;
  }
}

@media screen and (min-width: 1440px) {
  .header-person-box__img {
    width: 655px;
  }
}

.first-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .first-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.first-section__title {
  font-family: Graphik-Bold, serif;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1440px) {
  .first-section__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 0;
  }
}

.first-section__description {
  color: var(--color-FFFFFFB2);
  font-family: NunitoSans-Regular, serif;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 1440px) {
  .first-section__description {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.657px;
  }
}

.first-section-video {
  margin-bottom: 65px;
}

@media screen and (min-width: 1024px) {
  .first-section-video {
    height: 650px;
  }
}

@media screen and (min-width: 1440px) {
  .first-section-video {
    margin-bottom: 140px;
    height: 750px;
  }
}

.second-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 37px;
}

@media screen and (min-width: 1024px) {
  .second-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.second-section__triangle {
  width: 65px;
}

@media screen and (min-width: 1440px) {
  .second-section__triangle {
    width: 105px;
    position: relative;
    top: -50px;
    left: 131px;
  }
}

.second-section__title {
  font-family: Graphik-Bold, serif;
  font-size: 36px;
  line-height: 54px;
}

@media screen and (min-width: 1440px) {
  .second-section__title {
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    width: 695px;
  }
}

.second-section__add {
  width: 28px;
  position: relative;
  bottom: 0;
  margin: auto 0 auto auto;
}

@media screen and (min-width: 1024px) {
  .second-section__add {
    transform: rotate(-31.418deg);
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .second-section__add {
    width: 42px;
    position: relative;
    bottom: -50px;
  }
}

.third-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 95px;
}

@media screen and (min-width: 1440px) {
  .third-section {
    margin-bottom: 101px;
  }
}

.third-section__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .third-section__box {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.box-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px 10px;
  width: 100%;
}

.box-service__circle {
  width: 69px;
  height: 69px;
  background-color: var(--color-19191B);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.box-service__circle--purple {
  background-color: var(--color-5454D41A);
}

.box-service__circle--red {
  background-color: var(--color-F040371A);
}

.box-service__circle--yellow {
  background-color: var(--color-FEDC5A1A);
}

.box-service__title {
  text-align: center;
  font-family: NunitoSans-Bold, serif;
  font-size: 24px;
  letter-spacing: -0.75px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .box-service__title {
    font-size: 28px;
  }
}

.box-service__description {
  color: var(--color-FFFFFFB2);
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  width: 300px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .box-service__description {
    font-size: 20px;
    letter-spacing: -1.5px;
  }
}

.third-section__add {
  width: 28px;
}

@media screen and (min-width: 1024px) {
  .third-section__add {
    transform: rotate(25.344deg);
  }
}

@media screen and (min-width: 1440px) {
  .third-section__add {
    width: 42px;
    transform: rotate(25.344deg);
  }
}

.fourth-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}

@media screen and (min-width: 1440px) {
  .fourth-section {
    align-items: center;
  }
}

.fourth-section__title {
  font-family: Graphik-Bold, serif;
  font-size: 36px;
  line-height: 54px;
}

@media screen and (min-width: 1440px) {
  .fourth-section__title {
    font-size: 58px;
    line-height: normal;
  }
}

.fourth-section__img {
  position: relative;
  top: 12px;
}

@media screen and (min-width: 1440px) {
  .fourth-section__img {
    top: 22px;
    width: 89px;
  }
}

.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 89px;
}

@media screen and (min-width: 1440px) {
  .fifth-section {
    margin-bottom: 209px;
  }
}

.responsive-fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .responsive-fifth-section {
    display: none;
  }
}

.scroll-container {
  margin-bottom: 50px;
  padding: 24px;
  background-color: var(--color-1E1E20);
  border-radius: 14px;
}

@media screen and (min-width: 1024px) {
  .scroll-container {
    margin-bottom: 0;
  }
}

.scroll-container__img {
  width: 100%;
}

.scroll-actions {
  display: flex;
}

.scroll-actions__btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-FFFFFF33);
  width: 38px;
  height: 38px;
  border-radius: 100%;
  cursor: pointer;
}

.scroll-actions__btn--purple {
  background-color: var(--color-5454D4);
}

.scroll-actions__btn-icon {
  transform: rotate(180deg);
}

.scroll-actions__btn-space {
  margin-right: 12px;
}

.desktop-fifth-section {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop-fifth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.scroll-desktop {
  display: flex;
  flex-direction: row;
  height: 417px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.scroll-container-1 {
  position: relative;
  top: -55px;
}

.scroll-container-2 {
  position: relative;
  margin: 0 24px;
}

.scroll-container-3 {
  position: relative;
  bottom: -55px;
}

.scroll-desktop-actions {
  display: flex;
  flex-direction: row;
}

.scroll-desktop-actions__btn {
  all: unset;
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--color-121213);
  margin: 0 3px;
}

.scroll-desktop-actions__btn--active {
  width: 16px;
  border-radius: 4px;
  background-color: var(--color-5454D4);
}

.fifth-section__line {
  position: relative;
  top: 0;
  margin: 45px auto auto 0;
  width: 61px;
}

@media screen and (min-width: 1024px) {
  .fifth-section__line {
    margin: auto auto auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .fifth-section__line {
    width: 95px;
  }
}

.sixth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 140px;
}

@media screen and (min-width: 1440px) {
  .sixth-section {
    margin-bottom: 114px;
  }
}

.sixth-section__add {
  position: relative;
  margin: auto 0 40px auto;
}

@media screen and (min-width: 1440px) {
  .sixth-section__add {
    width: 42px;
    margin: auto 0 76px auto;
  }
}

.sixth-section-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 22px;
}

@media screen and (min-width: 1024px) {
  .sixth-section-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .sixth-section-box {
    margin-bottom: 63px;
  }
}

.sixth-section-box__title {
  font-family: Graphik-Bold, serif;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .sixth-section-box__title {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .sixth-section-box__title {
    font-size: 60px;
    line-height: normal;
    width: 826px;
  }
}

.sixth-section__circle {
  width: 39px;
  position: relative;
  left: -18px;
}

@media screen and (min-width: 1024px) {
  .sixth-section__circle {
    left: 0;
  }
}


@media screen and (min-width: 1440px) {
  .sixth-section__circle {
    width: 51px;
    left: 20px;
  }
}
